
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap'); /* This holds the Fira Mono font. Looks good and always use mono fonts in games. :) */

.button {
  font-family: 'Fira Mono', monospace;
  border: none;
  color: white;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.small {
  padding: 16px 16px;
}

.display {
  font-size: 20px;
}

.displayOuter {
  font-size: 12px;
  font-family: 'Fira Mono', monospace;
}

.button1 {background-color: #000000;} /* Black */

.button2 {background-color: #305040;} /* Green */